@using ScoutSluzba.Web.ViewModels

@{
    ViewData["Title"] = "Index";
}

<h1>Lokacija</h1>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Naziv</th>
            <th>Ulica</th>
            <th>Adresa</th>
            <th>Akcija</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.rows)
        {
            <tr>
                <td>@x.Naziv</td>
                <td>@x.Ulica</td>
                <td>@x.Adresa</td>
                <td>
                    <a asp-action="Obrisi" asp-controller="Lokacija" asp-area="AdministratorModul" asp-route-id="@x.LokacijaID" class="btn btn-outline-danger btn-sm">Obrisi<i class="fa fa-trash"></i></a>

                    <a asp-action="Uredi" asp-controller="Lokacija" asp-area="AdministratorModul" asp-route-id="@x.LokacijaID" class="btn btn-outline-primary btn-sm">Uredi<i class="fa fa-pen"></i></a>

                </td>
            </tr>

        }
    </tbody>
</table>

<a asp-action="Dodaj" asp-controller="Lokacija" asp-area="AdministratorModul" class="btn btn-outline-success btn-lg"> Dodaj Lokaciju </a>



